table {
    border-collapse:collapse ;
}

.column-background {
    background-color: #97DB9A;
}

.column-width {
    width: 42px;
}

#sixth-column {
    background-color: #DCC48E;
    border: 4px;
    border-style: solid;
    border-color: #C1437A;
}