.payment-form {
    /* border-style: solid;
    border-radius: 25px;
    border-color: aqua;
    border-width: 2px; */
    padding: 10px;
}

.font-style {
    font-family: 'Times New Roman', Times, serif;
}
.italic {
    font-style: italic;
}

.center {
    margin:auto;
    width: 30%;
}

.center-2 {
    margin:auto;
    width: 30%;
}

.align-right {
    margin-left: auto;
    padding: 5px;
    text-align: end;
}

.align-left {
    text-align: start;
}
